.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 10px;
    font-weight: bold;
    background-color: #ffae00;
    
    align-items: center;
  }
  
  .label {
    margin-bottom: 10px;
    width: 550px
  }
  
  .input {
    padding: 8px;
    
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 96%;
  }
  
  .button {
    padding: 10px 20px;
    color: #ffae00; 
    background-color: #333333; 
    border: 1px solid #333333; 
    font-size: 1em; 
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #ffae00; 
    color: #333333; 
    border: 1px solid #333333
  }
  .button[disabled] {
    opacity: 0.5;}