:root{
    --primary-color: #ffae00;
    --secondary-color: #333333;}

.card {
    background-color: #ffae00;
    color: #333333;
    width: 170px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(51,51,51, 1);
    margin : 5px;
}
.card img{
    width: 25%;
    /* padding-bottom: 0;
    margin-bottom: 0; */
}
.card p{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.card h2{
    margin-top: 0  ;
    margin-bottom: 0;
}
.button {
    padding: 10px 20px;
    color: #ffae00; 
    background-color: #333333; 
    border: 1px solid #333333; 
    font-size: 1em; 
    font-weight: bold;
}

.button:hover {
    background-color: #ffae00; 
    color: #333333; 
    border: 1px solid #333333;
}
.status {
    font-weight: bold;
  }
  
  .status.cancelled {
    color: red;
  }
  

  
  .status.confirmed {
    color: green;
  }