  
.cardcontainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    height: 70vh;
    overflow-y: auto;
  
    margin-right: 40px;
    border-top-left-radius : 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 20px;
}

.cardcontainer::-webkit-scrollbar{
    width: 7px;
}

.cardcontainer::-webkit-scrollbar-thumb{
    background: #ffae00;
    border-radius: 10px;
}