.container  {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.cardcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    overflow-y: auto;
    margin-top: 1.5em;
    
    border-top-left-radius : 10px;
    border-bottom-left-radius: 10px;
    max-height: 470px;
    right: 20px;
    flex-wrap: wrap;
}

.cardcontainer::-webkit-scrollbar{
    width: 7px;
}

.cardcontainer::-webkit-scrollbar-thumb{
    background: #ffae00;
    border-radius: 10px;
}